body {
  @extend %font;
  background: $oil;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font;
  color: $mordantred;
}

.button {
  background: $lust;
  padding: 0 2rem;
  margin:0;
  line-height: 2.5rem;
  @extend %font;
  text-transform: uppercase;

  &:hover,&:focus {
    background: $mordantred;
  }

  &.open {
    line-height: 3rem;
    background: transparent;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));

    &:hover,&:focus {
      @include transform(scale(1.1));
    }
  }
}

.section-head {
  background: darken($oil, 5%);
  padding: 2.5rem 0 1.5rem;
  h2 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    color: $gainsboro;
    text-transform: uppercase;

    &:before {
      content: '';
      display: block;
      @include absolute(top 50% left 50%);
      width: 80%;
      height: 2px;
      background: $gainsboro;
      @include transform(translate3d(-50%,-50%,0));
    }

    span {
      position: relative;
      padding: 0 1.5rem;
      background: darken($oil, 5%);
      z-index: 2;
    }
  }
}

.scroll {
  @include opacity(0);
  @include transition(opacity 300ms ease);

  &.on {
    opacity: 1;
  }

  &.four-up .item {
    @include transform(translate3d(0,-65px,0));
    @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
  }
  &.four-up.on .item {
    @include transform(translate3d(0,0,0));
  }
}

img {
  @include opacity(0);
  @include transition(opacity 350ms ease);

  &.loaded {
    @include opacity(1);
  }

  #map & {
    @include opacity(1);
  }
}


@import 'menus';

@import 'heros';


#services {

  .icon-bar {
    display: block;
    overflow: hidden;
    background: $oil;

    .item {
      padding: 2.5rem 1.25rem;
      @include transition(all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55));

      strong, img {
        @include transition(all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
      }

      img {
        height: 4rem;
        width: 4rem;
        margin-bottom: 1.4rem;
      }

      strong {
        display: block;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $white;
        font-weight: 300;
      }

      &:hover {
        background: $mordantred;

        img, strong {
          @include transform(scale(1.15));
        }
      }

    }
  }
}

#work {
  .row {
    max-width: 100%;
  }
}

.project {
  position: relative;
  overflow: hidden;
  &.small {
    background: $oil;

    img {
      @include transition(all 300ms ease);
    }

    .desc {
      @include absolute(bottom 0);
      @include transform(translate3d(0,100%,0));
      @include transition(all 300ms ease);
      width: 100%;
      background: $mordantred;
      overflow: hidden;

      h2, p {
        color: $white;
      }

      h2 {
        font-size: 1.35rem;
        text-transform: uppercase;
        line-height: 1;
        margin: 1rem 0 0.5rem;
      }

      p {
        font-size: 0.9rem;
        margin: 0.5rem 0 1rem;
      }
    }

    &:hover {
      img {
        @include opacity(0.5);
        @include transform(scale(0.75));
      }
      .desc {
        @include transform(translate3d(0,0,0));
      }
    }

  }

  &.double,
  .double {
    overflow: hidden;
    .item {
      float: left;
      width: 50%;
      background: $oil;

      .desc {
        @include absolute(bottom 0);
        width: 100%;
        background: $oil;
        overflow: hidden;

        h2, p {
          color: $white;
        }

        h2 {
          font-size: 1.35rem;
          text-transform: uppercase;
          line-height: 1;
          margin: 1rem 0 0.5rem;
        }

        p {
          font-size: 0.9rem;
          margin: 0.5rem 0 1rem;
        }
      }

      &.second {
        .desc {
          background: $pinecone;
        }
      }

      img {
        width: 100%;
        height: auto;
        @include opacity(0.65);
        @include transition(opacity 300ms ease);
      }

      &:hover img {
        @include opacity(1);
      }

      .overlay {
        @include absolute(top 0 left 0);
        @include opacity(0.75);
        width: 100%;
        height: 100%;
        z-index: 5;
      }

      &:hover > .desc {
        background: darken($oil, 5%);
      }

      &.second:hover > .desc {
        background: darken($pinecone, 5%);
      }

      &:hover .overlay {
        @include opacity(0);
        z-index: 0;
      }

    }

    &.four-up .item {
      width: 50%;

      @media #{$medium-up} {
        width: 25%;
      }
    }
  }

  &.feature {
    .basic, .meta {
      position: absolute;
    }
    .basic {
      top: 15%;
      left: 5%;
      width: 45%;
      padding: 2rem;
      background: rgba($oil,0.5);

      @media #{$screen} and (max-width: 1150px) {
        top: 9%;
      }

      @media #{$screen} and (max-width: 950px) {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        padding: 1.5rem 0.5rem;
        @include clearfix();
      }

      h3,p,ul li {
        color: $white;
      }

      h3, ul {
        @media #{$screen} and (max-width: 950px) {
          margin: 0;
          padding: 0;
          font-size: 20px;
        }
      }

      h3 {
        text-transform: uppercase;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        @include clearfix;
        li {
          display: block;
          float: left;
          text-transform: uppercase;
          font-size: 1.2rem;

          @media #{$screen} and (max-width: 950px) {
            font-size: 14px;
          }

          &:after {
            content:' | ';
            display: inline-block;
            margin: 0 0.75rem;
          }
          &:last-child:after {
            content: none;
            margin: 0;
          }
        }
      }

      p {
        @media #{$screen} and (max-width: 950px) {
          display: none;
        }
      }
    }
    .meta {
      top: 1.5rem;
      right: 0;

      img {
        display: block;
        float: right;
        width: 30px;
        margin-right: 1.5rem;
      }
    }
  }
}

.launch {
    padding: 1.75rem;
    text-align: center;
}

#map {
  position: relative;
  min-height: 600px;
  height: calc(100vh - 3.7rem);
}

#contact {
  position: relative;
  .info {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: $oil;
    padding: 1.25rem;

    .address,
    .more {
      float: left;
      font-size: 0.9rem;
    }

    .more {
      margin-left: 1.15rem;
      padding-top: 1.25rem;
    }
    strong {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    strong,
    address,
    .more {
      color: $white;
      font-style: normal;
    }
  }
}

.page {
  background-image: url(../assets/images/bg_pattern_01.png);
  background-repeat: repeat;
  padding: 2rem 0;

  article {
    overflow: hidden;
  }

  h1 {
    color: $white;
    text-align: center;
    margin: 2rem 0;
    font-size: 2.4rem;
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    color: $white;
    margin: 2rem 0;
  }
}

#footer-menu {
  background: $mordantred;
  padding: 1.5rem;
  color: $smoke;
  font-size: 0.8rem;
  line-height: 1;
  overflow: hidden;

  ul {
    margin-bottom: 0;
    li a {
      font-size: 0.8rem;
      line-height: 1;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
