#main-menu {

  .top-bar {
    height: 3.7rem;
    line-height: 3.5rem;
    background: $black;
    padding: 0;
    border-bottom: solid $lust 0.2rem;

    &.expanded {
      height: auto;
      background: $oil;

      .toggle-topbar a {
        color: $pinecone;

        span::after {
          box-shadow: 0 0 0 1px $pinecone,0 7px 0 1px $pinecone,0 14px 0 1px $pinecone;
        }
      }

      .title-area {
        background: none;
      }
    }

    .name {
      height: 3.5rem;
      padding: 0.5rem 0 0.5rem 0.5rem;
      h2 {
        line-height: 2.5rem;
        a {
          background-image: url(../assets/images/nnlogo_full.png);
          height: 2.5rem;
          width: 6rem;
          margin: 0;
          padding: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }

    .top-bar-section {
      li {
        a {
          background: $oil;
          font-size: 0.8rem;
          text-transform: uppercase;
          @extend %font;
        }
      }
    }

    @media #{$medium-up} {

      .top-bar-section {
        .right {
          position: relative;
          &:before {
            display: block;
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 3.5rem 7.5rem;
            border-color: transparent transparent $lust transparent;
            left: -7.5rem;
          }
        }
        li {
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -0.2rem;
            left: 50%;
            width: 0;
            height: 0.2rem;
            background: $white;
            @include transform(translate3d(-50%,0,0));
            @include transition(width 300ms ease);
          }

          &:hover:after {
            width: 100%;
          }

          a {
            line-height: 3.5rem;
            padding: 0 2rem;
            background: $lust;
          }
        }
      }

    }
  }
}
